[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"discord.py" = "2.3.2"

[dev-packages]
coverage = "7.2.7"
pytest = "7.3.2"

[requires]
python_version = "3.12"

[scripts]
start = "python src/bot.py"
tests = "python src/test_data.py"
